{% extends "users/base.html" %}

{% block title %}
Log in
{% endblock title %}

<!-- <h1>Here is SignUp page</h1> -->

{% block content %}
<div class="auth">
    <form action="{% url 'users:signup'%}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{field}}
        </div>
        {% endfor %}
        <input type="submit" value="sign up">
    </form>
</div>

<!-- <a href="{%url 'users:main' %}">Login</a> -->
<div class="auth_link">
    <a href="{%url 'users:main' %}">Login</a>
</div>
{% endblock content %}